@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Jogadas</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <a class="fas fa-4x fa-arrow-alt-circle-right" asp-area="" asp-controller="Home" asp-action="Jogar">Jogar</a>
    </div>
</div>